scikit-learn==1.7.2
numpy==2.3.5
pandas==2.3.3
xgboost==3.4.1
catboost==1.2.10
seaborn
matplotlib
dill
flask
# -e . 
# Adding -e . to a requirements.txt file tells pip to install the current directory as an 
# editable package during the installation process.When you run pip install
#  -r requirements.txt, pip reads -e . and immediately looks for a setup.py (or pyproject.toml) in
# that same folder to build and install your local project.q

